{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{post.slug}}</title>
<link rel="stylesheet" href="{% static 'comment.css' %}?{% now 'U'%}">
<link rel="stylesheet" href="{% static 'post.css' %}?{% now 'U'%}">
{% endblock head %}


{% block content %}
{% include 'inc/navbar.html' %}
<div class="post">
    <img src="{{post.image.url}}" alt="post.slug">
    <p>{{post.descriptions}}</p>
    <span>{{post.user}} | {{post.create | date}}</span>
    {% if post.user.id == request.user.id %}
    <a href="{% url 'post:delete' post_id=post.pk post_user_id=post.user.id %}">delete</a>
    <a href="{% url 'post:edit' post_id=post.pk post_user_id=post.user.id%}">edit</a>
    {% endif %}
</div>
<!-- start -->
<!-- Contenedor Principal -->
<div class="comments-container">
    <!-- add comment -->
    <div class="add-comment">
        <p>Add comment</p>
        {% if request.user.is_authenticated %}
        <form action="{% url 'comment:add' post_id=post.pk %}" method="post">
            {% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit">Add</button>
        </form>
        {% else %}
        <p>just loged in user</p>
        {% endif %}
    </div>
    <h1>Comentarios <a href="http://creaticode.com">creaticode.com</a></h1>
    <ul id="comments-list" class="comments-list">
        {% for c in post.post_comments.all %}
        {% if c.is_reply == False%}
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{{c.user.u_profile.image.url}}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">{{c.user.username}}</a>
                        </h6>
                        <span>hace 20 minutos</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        <p>{{c.body}}</p>
                        <button id="open-reply">reply</button>
                    </div>
                </div>
            </div>
            <!-- add reply comment for this comment -->
            <div class="add-reply">
                <form action="{% url 'comment:reply' post_id=post.pk comment_id=c.pk %}" method="post">
                    {% csrf_token %}
                    {{comment_form.as_p}}
                    <button type="submit">reply</button>
                </form>
            </div>
            <!-- Respuestas de los comentarios -->
            <ul class="comments-list reply-list">
                {% for reply in c.reply_comments.all %}
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{{c.user.u_profile.image.url}}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">{{reply.user.username}}</a>
                            </h6>
                            <span>hace 10 minutos</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            <p>{{reply.body}}</p>
                            <button id="open-reply">reply</button>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}