html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  color:#6ec3f4
}
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  
  box-shadow: 14px 14px 16px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 0;

  padding: 20px;
}


.register-form input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #d7d5d5;
}

.register-form input[type="submit"] {
  width: 60px;
  padding: 5px;
  cursor: pointer;
  background-color: #ff9d28;
  border: none;
  outline: none;
}
