<nav>
    <div class="logo">
        <a href="/">instagram</a>
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'post:add_post' %}">add_post</a>
        <a href="{% url 'users:logout'  %}">logout</a>
        <a href="{% url 'users:profile' pk=request.user.pk username=request.user.username %}">
            <img class="nav-avatar" src="{{request.user.profile.image.url}}" alt="">
        </a>
        {% else %}
        <a href="{% url 'users:login' %}">login</a>
        <a href="{% url 'users:signup'  %}">signup</a>
        {% endif %}
    </div>
</nav>